*{
	margin: 0;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
	text-decoration: none;
}
.index {
  	width: 100%;
  	height: 1762px;
  	position: relative;
  	background-color: #223079;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}
.fundo-icon {
  	position: absolute;
  	top: 14px;
  	left: 0px;
  	width: 1280px;
  	height: 699px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.index-child {
  	position: absolute;
  	top: 620px;
  	left: 0px;
  	background-color: #fff;
  	width: 1280px;
  	height: 300px;
  	flex-shrink: 0;
}
.index-inner {
  	position: absolute;
  	top: 677.24px;
  	left: 638.44px;
  	border-top: 4px solid #000;
  	box-sizing: border-box;
  	width: 163.7px;
  	height: 4px;
  	transform:  rotate(89.7deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.aprenda-a-andar {
  	position: absolute;
  	top: 755px;
  	left: 731px;
  	font-size: 22px;
  	display: inline-block;
  	width: 172px;
  	height: 103px;
  	flex-shrink: 0;
}
.tutorial-onisciente {
  	position: absolute;
  	top: 720px;
  	left: 662.62px;
  	font-size: 26px;
  	display: inline-block;
  	width: 308.7px;
  	height: 30.2px;
  	flex-shrink: 0;
}
.group-51-1 {
  	position: absolute;
  	top: 650px;
  	left: 442.39px;
  	width: 47.9px;
  	height: 57.7px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.trace-rotas-para {
  	position: absolute;
  	top: 755px;
  	left: 372px;
  	font-size: 22px;
  	display: inline-block;
  	width: 188px;
  	height: 103px;
  	flex-shrink: 0;
}
.novos-caminhos {
  	position: absolute;
  	top: 720px;
  	left: 344px;
  	font-size: 26px;
  	display: inline-block;
  	width: 245px;
  	height: 30px;
  	flex-shrink: 0;
}
.index-child3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1280px;
  	height: 100px;
  	flex-shrink: 0;
}
.index-child4 {
  	position: absolute;
  	top: 31px;
  	left: 41px;
  	background-color: #fff;
  	width: 231px;
  	height: 41px;
  	flex-shrink: 0;
}
.index-child5 {
  	position: absolute;
  	top: 31px;
  	left: 287px;
  	background-color: #fff;
  	width: 255px;
  	height: 41px;
  	flex-shrink: 0;
}
.index-child6 {
  	position: absolute;
  	top: 31px;
  	left: 561px;
  	background-color: #fff;
  	width: 189px;
  	height: 41px;
  	flex-shrink: 0;
}
.comear-o-tutorial {
  	position: absolute;
  	top: 37px;
  	left: 296px;
  	font-weight: 500;
  	display: inline-block;
  	width: 253.5px;
  	height: 25.7px;
  	flex-shrink: 0;
}
.sobre-o-site {
  	position: absolute;
  	top: 37px;
  	left: 584px;
  	font-weight: 500;
  	display: inline-block;
  	width: 148.4px;
  	height: 25.7px;
  	flex-shrink: 0;
}
.traar-uma-rota {
  	position: absolute;
  	top: 35px;
  	left: 50px;
  	font-weight: 500;
  	display: inline-block;
  	width: 220px;
  	height: 25px;
  	flex-shrink: 0;
}
.vector-icon {
  	position: absolute;
  	height: 0.74%;
  	width: 0.55%;
  	top: 35;
  	right: 95.31%;
  	bottom: 96.77%;
  	left: 42px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.vector-icon2 {
  	position: absolute;
  	height: 0.74%;
  	width: 0.55%;
  	top: 45px;
  	right: 76.09%;
  	bottom: 96.77%;
  	left: 296px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.vector-icon3 {
  	position: absolute;
  	height: 0.74%;
  	width: 0.55%;
  	top: 45px;
  	right: 54.69%;
  	bottom: 96.77%;
  	left: 572px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.index-child7 {
  	position: absolute;
  	top: 1005.19px;
  	left: 102.9px;
  	border-radius: 20px;
  	background-color: #2e42a6;
  	width: 482.6px;
  	height: 545.5px;
  	flex-shrink: 0;
}
.a-misso-do {
  	position: absolute;
  	top: 1040.67px;
  	left: 138.38px;
  	font-size: 25px;
  	font-weight: 500;
  	color: #fff;
  	text-align: justify;
  	display: inline-block;
  	width: 411.6px;
  	height: 177.4px;
  	flex-shrink: 0;
}
.nossa-viso {
  	position: absolute;
  	top: 1247.35px;
  	left: 138.38px;
  	font-size: 25px;
  	font-weight: 500;
  	color: #fff;
  	text-align: justify;
  	display: inline-block;
  	width: 411.6px;
  	height: 150.8px;
  	flex-shrink: 0;
}
.visamos-a-inovao {
  	position: absolute;
  	top: 1421.21px;
  	left: 138.38px;
  	font-size: 25px;
  	font-weight: 500;
  	color: #fff;
  	text-align: justify;
  	display: inline-block;
  	width: 400.1px;
  	height: 90.5px;
  	flex-shrink: 0;
}
.index-child8 {
  	position: absolute;
  	top: 1675.79px;
  	left: 2.66px;
  	background-color: #fff;
  	width: 1277.3px;
  	height: 86px;
  	flex-shrink: 0;
}
.onisciente-2025-todos {
  	position: absolute;
  	top: 1705px;
  	left: 702px;
  	font-family: Coolvetica;
  	display: inline-block;
  	width: 537.5px;
  	height: 78.1px;
  	flex-shrink: 0;
}
.onibus-1-icon {
  	position: absolute;
  	top: 897.86px;
  	left: 618.27px;
  	width: 659.1px;
  	height: 777.9px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.group-50-1 {
  	position: absolute;
  	top: 650px;
  	left: 786px;
  	width: 62.1px;
  	height: 59.4px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.group-53-1 {
  	position: absolute;
  	top: 11px;
  	left: 1064px;
  	width: 199px;
  	height: 78px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.group-54-1 {
  	position: absolute;
  	top: 1693px;
  	left: 62px;
  	width: 277px;
  	height: 51px;
  	object-fit: cover;
  	flex-shrink: 0;
}

