.rotas1 {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #fff;
  	font-family: Inter;
}
.rotas1-child {
  	position: absolute;
  	top: 267px;
  	left: 269px;
  	border-radius: 20px;
  	background-color: #223079;
  	width: 901px;
  	height: 621px;
}
.rotas {
  	position: absolute;
  	top: 154px;
  	left: 580px;
  	font-size: 96px;
  	display: inline-block;
  	color: #000;
  	width: 279px;
  	height: 76px;
}
.rotas1-item {
  	position: absolute;
  	top: 575.5px;
  	left: 314.5px;
  	border-top: 5px solid #2e42a5;
  	box-sizing: border-box;
  	width: 810px;
  	height: 5px;
}
.rotas1-inner {
  	position: absolute;
  	top: 658.5px;
  	left: 314.5px;
  	border-top: 5px solid #2e42a5;
  	box-sizing: border-box;
  	width: 810px;
  	height: 5px;
}
.line-div {
  	position: absolute;
  	top: 741.5px;
  	left: 314.5px;
  	border-top: 5px solid #2e42a5;
  	box-sizing: border-box;
  	width: 810px;
  	height: 5px;
}
.rotas1-child2 {
  	position: absolute;
  	top: 824.5px;
  	left: 314.5px;
  	border-top: 5px solid #2e42a5;
  	box-sizing: border-box;
  	width: 810px;
  	height: 5px;
}
.km {
  	position: absolute;
  	top: 708px;
  	left: 325px;
  	font-size: 20px;
  	display: inline-block;
  	width: 63px;
  	height: 23px;
}
.av-quara-451 {
  	position: absolute;
  	top: 704px;
  	left: 407px;
  	font-size: 20px;
  	display: inline-block;
  	color: #b4b4b4;
  	text-align: left;
  	width: 632px;
  	height: 23px;
}
.av-quara-4512 {
  	position: absolute;
  	top: 674px;
  	left: 399px;
  	display: inline-block;
  	text-align: left;
  	width: 272px;
  	height: 53px;
}
.clock-icon {
  	position: absolute;
  	top: 671px;
  	left: 338px;
  	width: 35px;
  	height: 35px;
}
.km2 {
  	position: absolute;
  	top: 626px;
  	left: 325px;
  	font-size: 20px;
  	display: inline-block;
  	width: 63px;
  	height: 23px;
}
.shopping-total- {
  	position: absolute;
  	top: 622px;
  	left: 407px;
  	font-size: 20px;
  	display: inline-block;
  	color: #b4b4b4;
  	text-align: left;
  	width: 632px;
  	height: 23px;
}
.senac-distrito-criativo {
  	position: absolute;
  	top: 592px;
  	left: 399px;
  	display: inline-block;
  	text-align: left;
  	width: 272px;
  	height: 53px;
}
.clock-icon2 {
  	position: absolute;
  	top: 589px;
  	left: 338px;
  	width: 35px;
  	height: 35px;
}
.km3 {
  	position: absolute;
  	top: 793px;
  	left: 325px;
  	font-size: 20px;
  	display: inline-block;
  	width: 63px;
  	height: 23px;
}
.shopping-total-2 {
  	position: absolute;
  	top: 789px;
  	left: 407px;
  	font-size: 20px;
  	display: inline-block;
  	color: #b4b4b4;
  	text-align: left;
  	width: 632px;
  	height: 23px;
}
.senac-distrito-criativo2 {
  	position: absolute;
  	top: 759px;
  	left: 399px;
  	display: inline-block;
  	text-align: left;
  	width: 272px;
  	height: 53px;
}
.clock-icon3 {
  	position: absolute;
  	top: 756px;
  	left: 338px;
  	width: 35px;
  	height: 35px;
}
.historico {
  	position: absolute;
  	top: 524px;
  	left: 331px;
  	font-size: 32px;
  	display: inline-block;
  	width: 146px;
  	height: 76px;
}
.chevron-right-icon {
  	position: absolute;
  	top: 533px;
  	left: 474px;
  	width: 24px;
  	height: 24px;
}
.ellipse-div {
  	position: absolute;
  	top: 347px;
  	left: 1012px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 113px;
  	height: 113px;
}
.vector-icon {
  	position: absolute;
  	height: 3.42%;
  	width: 0.28%;
  	top: 37.74%;
  	right: 25.49%;
  	bottom: 58.84%;
  	left: 74.24%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon2 {
  	position: absolute;
  	height: 0.39%;
  	width: 2.43%;
  	top: 39.45%;
  	right: 24.55%;
  	bottom: 60.16%;
  	left: 73.02%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.rectangle-div {
  	position: absolute;
  	top: 330px;
  	left: 331px;
  	border-radius: 40px;
  	background-color: #fff;
  	width: 633px;
  	height: 150px;
}
.rotas1-child3 {
  	position: absolute;
  	top: 404.5px;
  	left: 408.5px;
  	border-top: 5px solid #dadada;
  	box-sizing: border-box;
  	width: 555px;
  	height: 5px;
  	transform:  rotate(-0.2deg);
  	transform-origin: 0 0;
}
.rotas1-child4 {
  	position: absolute;
  	top: 434px;
  	left: 364px;
  	background-color: #bcbcbc;
  	border: 6px solid #000;
  	box-sizing: border-box;
  	width: 18px;
  	height: 18px;
}
.rotas1-child5 {
  	position: absolute;
  	top: 359px;
  	left: 364px;
  	border-radius: 50%;
  	background-color: #bcbcbc;
  	border: 6px solid #000;
  	box-sizing: border-box;
  	width: 18px;
  	height: 18px;
}
.rotas1-child6 {
  	position: absolute;
  	top: 378.5px;
  	left: 373px;
  	background-color: #d2d2d2;
  	border-right: 5px solid #000;
  	box-sizing: border-box;
  	width: 5px;
  	height: 54px;
}
.insira-o-local {
  	position: absolute;
  	top: 356px;
  	left: 426px;
  	display: inline-block;
  	color: #737373;
  	text-align: left;
  	width: 461px;
  	height: 29px;
}
.insira-o-destino {
  	position: absolute;
  	top: 423px;
  	left: 426px;
  	display: inline-block;
  	color: #737373;
  	text-align: left;
  	width: 461px;
  	height: 29px;
}
.rotas1-child7 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1440px;
  	height: 113px;
}
.rotas1-child8 {
  	position: absolute;
  	top: 35px;
  	left: 46px;
  	background-color: #fff;
  	width: 246px;
  	height: 46px;
}
.comear-o-tutorial {
  	position: absolute;
  	top: 42px;
  	left: 62px;
  	font-weight: 500;
  	color: #000;
  	display: inline-block;
  	width: 234px;
  	height: 29px;
}
.vector-icon3 {
  	position: absolute;
  	height: 1.17%;
  	width: 0.42%;
  	top: 4.98%;
  	right: 95.97%;
  	bottom: 93.85%;
  	left: 3.61%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.rotas1-child9 {
  	position: absolute;
  	top: 35px;
  	left: 317px;
  	background-color: #fff;
  	width: 190px;
  	height: 46px;
}
.sobre-o-site {
  	position: absolute;
  	top: 43px;
  	left: 358px;
  	font-weight: 500;
  	color: #000;
  	display: inline-block;
  	width: 137px;
  	height: 29px;
}
.vector-icon4 {
  	position: absolute;
  	height: 1.17%;
  	width: 0.42%;
  	top: 5.08%;
  	right: 76.46%;
  	bottom: 93.75%;
  	left: 23.13%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.rotas1-child10 {
  	position: absolute;
  	top: 24.53px;
  	left: 1321.11px;
  	background-color: #00c257;
  	width: 58.1px;
  	height: 7.3px;
}
.rotas1-child11 {
  	position: absolute;
  	top: 31.84px;
  	left: 1321.11px;
  	background-color: #ff0000;
  	width: 67.1px;
  	height: 7.3px;
}
.rotas1-child12 {
  	position: absolute;
  	top: 39.16px;
  	left: 1321.11px;
  	background-color: #fff700;
  	width: 76.2px;
  	height: 7.3px;
}
.rotas1-child13 {
  	position: absolute;
  	top: 46.48px;
  	left: 1321.11px;
  	background-color: #0053cf;
  	width: 84.8px;
  	height: 7.3px;
}
.image-removebg-preview-1-icon {
  	position: absolute;
  	top: 0px;
  	left: 1223px;
  	width: 111px;
  	height: 74.9px;
  	object-fit: cover;
}
.oni {
  	position: absolute;
  	top: 54px;
  	left: 1140px;
  	font-size: 40px;
  	font-family: Coolvetica;
  	color: #ea0000;
  	display: inline-block;
  	width: 227px;
  	height: 60px;
}
.sciente {
  	position: absolute;
  	top: 54px;
  	left: 1264px;
  	font-size: 40px;
  	font-family: Coolvetica;
  	color: #000;
  	display: inline-block;
  	width: 153px;
  	height: 60px;
}

