.rotas2 {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}
.rotas {
  	position: absolute;
  	top: 177px;
  	left: 326px;
  	font-size: 96px;
  	display: inline-block;
  	width: 279px;
  	height: 76px;
}
.rotas2-child {
  	position: absolute;
  	top: 312px;
  	left: 146px;
  	border-radius: 40px;
  	background-color: #fff;
  	border: 10px solid #fff;
  	box-sizing: border-box;
  	width: 643px;
  	height: 160px;
}
.rotas2-item {
  	position: absolute;
  	top: 391.5px;
  	left: 228.5px;
  	border-top: 5px solid #dadada;
  	box-sizing: border-box;
  	width: 555px;
  	height: 5px;
  	transform:  rotate(-0.2deg);
  	transform-origin: 0 0;
}
.rotas2-inner {
  	position: absolute;
  	top: 421px;
  	left: 184px;
  	background-color: #bcbcbc;
  	border: 6px solid #000;
  	box-sizing: border-box;
  	width: 18px;
  	height: 18px;
}
.ellipse-div {
  	position: absolute;
  	top: 346px;
  	left: 184px;
  	border-radius: 50%;
  	background-color: #bcbcbc;
  	border: 6px solid #000;
  	box-sizing: border-box;
  	width: 18px;
  	height: 18px;
}
.line-div {
  	position: absolute;
  	top: 365.5px;
  	left: 193px;
  	background-color: #d2d2d2;
  	border-right: 5px solid #000;
  	box-sizing: border-box;
  	width: 5px;
  	height: 54px;
}
.av-da-cavalhada {
  	position: absolute;
  	top: 343px;
  	left: 246px;
  	display: inline-block;
  	color: #737373;
  	text-align: left;
  	width: 535px;
  	height: 29px;
}
.av-quara-451 {
  	position: absolute;
  	top: 410px;
  	left: 246px;
  	display: inline-block;
  	color: #737373;
  	text-align: left;
  	width: 535px;
  	height: 29px;
}
.image-5-icon {
  	position: absolute;
  	top: 606px;
  	left: 97px;
  	border-radius: 20px;
  	width: 290px;
  	height: 290px;
  	object-fit: cover;
}
.local-de-partida {
  	position: absolute;
  	top: 556px;
  	left: 145px;
  	display: inline-block;
  	width: 194px;
  	height: 29px;
}
.image-6-icon {
  	position: absolute;
  	top: 606px;
  	left: 512px;
  	border-radius: 20px;
  	width: 290px;
  	height: 290px;
  	object-fit: cover;
}
.local-de-chegada {
  	position: absolute;
  	top: 556px;
  	left: 551px;
  	display: inline-block;
  	width: 212px;
  	height: 29px;
}
.image-4-icon {
  	position: absolute;
  	top: 263px;
  	left: 927px;
  	border-radius: 20px;
  	width: 425px;
  	height: 661px;
  	object-fit: cover;
}
.trajeto-completo {
  	position: absolute;
  	top: 215px;
  	left: 1034px;
  	display: inline-block;
  	width: 212px;
  	height: 29px;
}
.arrow-right-icon {
  	position: absolute;
  	top: 189px;
  	left: 226px;
  	width: 81px;
  	height: 84px;
  	object-fit: contain;
}
.rectangle-div {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1440px;
  	height: 113px;
}
.rotas2-child2 {
  	position: absolute;
  	top: 35px;
  	left: 46px;
  	background-color: #fff;
  	width: 246px;
  	height: 46px;
}
.comear-o-tutorial {
  	position: absolute;
  	top: 42px;
  	left: 62px;
  	font-weight: 500;
  	display: inline-block;
  	width: 234px;
  	height: 29px;
}
.rotas2-child3 {
  	position: absolute;
  	top: 35px;
  	left: 317px;
  	background-color: #fff;
  	width: 190px;
  	height: 46px;
}
.sobre-o-site {
  	position: absolute;
  	top: 43px;
  	left: 358px;
  	font-weight: 500;
  	display: inline-block;
  	width: 137px;
  	height: 29px;
}
.vector-icon {
  	position: absolute;
  	height: 1.17%;
  	width: 0.42%;
  	top: 5.08%;
  	right: 76.46%;
  	bottom: 93.75%;
  	left: 23.13%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.rotas2-child4 {
  	position: absolute;
  	top: 24.53px;
  	left: 1321.11px;
  	background-color: #00c257;
  	width: 58.1px;
  	height: 7.3px;
}
.rotas2-child5 {
  	position: absolute;
  	top: 31.84px;
  	left: 1321.11px;
  	background-color: #ff0000;
  	width: 67.1px;
  	height: 7.3px;
}
.rotas2-child6 {
  	position: absolute;
  	top: 39.16px;
  	left: 1321.11px;
  	background-color: #fff700;
  	width: 76.2px;
  	height: 7.3px;
}
.rotas2-child7 {
  	position: absolute;
  	top: 46.48px;
  	left: 1321.11px;
  	background-color: #0053cf;
  	width: 84.8px;
  	height: 7.3px;
}
.image-removebg-preview-1-icon {
  	position: absolute;
  	top: 0px;
  	left: 1223px;
  	width: 111px;
  	height: 74.9px;
  	object-fit: cover;
}
.vector-icon2 {
  	position: absolute;
  	height: 1.17%;
  	width: 0.42%;
  	top: 4.98%;
  	right: 95.97%;
  	bottom: 93.85%;
  	left: 3.61%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.oni {
  	position: absolute;
  	top: 54px;
  	left: 1140px;
  	font-size: 40px;
  	font-family: Coolvetica;
  	color: #ea0000;
  	display: inline-block;
  	width: 227px;
  	height: 60px;
}
.sciente {
  	position: absolute;
  	top: 54px;
  	left: 1264px;
  	font-size: 40px;
  	font-family: Coolvetica;
  	display: inline-block;
  	width: 153px;
  	height: 60px;
}

