*{
	margin: 0;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
	text-decoration: none;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.rotas1 {
  	width: 100%;
  	height: 832px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: left;
  	font-size: 24px;
  	color: #fff;
  	font-family: Inter;
}
.rotas1-child {
  	position: absolute;
  	top: 226px;
  	left: 183px;
  	border-radius: 20px;
  	background-color: #B5C1FF;
  	width: 914px;
  	height: 552px;
}
.rotas {
  	position: absolute;
  	top: 140px;
  	left: 504px;
  	font-size: 64px;
  	display: inline-block;
  	color: #000;
  	text-align: center;
  	width: 272px;
  	height: 67px;
}
.rotas1-item {
  	position: absolute;
  	top: 494.5px;
  	left: 229.5px;
  	border-top: 5px solid #657DFF;
  	box-sizing: border-box;
  	width: 821px;
  	height: 5px;
}
.rotas1-inner {
  	position: absolute;
  	top: 573.5px;
  	left: 229.5px;
  	border-top: 5px solid #657DFF;
  	box-sizing: border-box;
  	width: 821px;
  	height: 5px;
}
.line-div {
  	position: absolute;
  	top: 652.5px;
  	left: 229.5px;
  	border-top: 5px solid #657DFF;
  	box-sizing: border-box;
  	width: 821px;
  	height: 5px;
}
.rotas1-child2 {
  	position: absolute;
  	top: 731.5px;
  	left: 229.5px;
  	border-top: 5px solid #657DFF;
  	box-sizing: border-box;
  	width: 821px;
  	height: 5px;
}
.km {
  	position: absolute;
  	top: 618px;
  	left: 240px;
  	font-size: 20px;
  	display: inline-block;
  	text-align: center;
  	width: 64px;
  	height: 20px;
}
.av-quara-451 {
  	position: absolute;
  	top: 614px;
  	left: 323px;
  	font-size: 20px;
  	display: inline-block;
  	color: #000000;
  	width: 641px;
  	height: 21px;
}
.av-quara-4512 {
  	position: absolute;
  	top: 588px;
  	left: 315px;
  	display: inline-block;
  	width: 276px;
  	height: 47px;
}
.clock-icon {
  	position: absolute;
  	top: 584px;
  	left: 254px;
  	width: 33px;
  	height: 33px;
}
.km2 {
  	position: absolute;
  	top: 540px;
  	left: 240px;
  	font-size: 20px;
  	display: inline-block;
  	text-align: center;
  	width: 64px;
  	height: 21px;
}
.shopping-total- {
  	position: absolute;
  	top: 537px;
  	left: 323px;
  	font-size: 20px;
  	display: inline-block;
  	color: #000000;
  	width: 641px;
  	height: 20px;
}
.senac-distrito-criativo {
  	position: absolute;
  	top: 510px;
  	left: 315px;
  	display: inline-block;
  	width: 276px;
  	height: 47px;
	color: black;
}
.clock-icon2 {
  	position: absolute;
  	top: 506px;
  	left: 254px;
  	width: 33px;
  	height: 33px;
}
.km3 {
  	position: absolute;
  	top: 699px;
  	left: 240px;
  	font-size: 20px;
  	display: inline-block;
  	text-align: center;
  	width: 64px;
  	height: 20px;
}
.shopping-total-2 {
  	position: absolute;
  	top: 695px;
  	left: 323px;
  	font-size: 20px;
  	display: inline-block;
  	color: #000000;
  	width: 641px;
  	height: 20px;
}
.senac-distrito-criativo2 {
  	position: absolute;
  	top: 668px;
  	left: 315px;
  	display: inline-block;
  	width: 276px;
  	height: 47px;
	color: black;
}
.clock-icon3 {
  	position: absolute;
  	top: 665px;
  	left: 254px;
  	width: 33px;
  	height: 33px;
}
.historico {
  	position: absolute;
  	top: 449px;
  	left: 246px;
  	font-size: 32px;
  	display: inline-block;
  	text-align: center;
  	width: 148px;
  	height: 68px;
	color: black;
}
.chevron-right-icon {
  	position: absolute;
  	top: 464px;
  	left: 391px;
  	width: 10px;
  	height: 12px;
}
.ellipse-div {
  	position: absolute;
  	top: 292px;
  	left: 937px;
  	border-radius: 50%;
  	background-color: #fff;
  	width: 101px;
  	height: 101px;
}
.group-63-1 {
  	position: absolute;
  	top: 323px;
  	left: 970px;
  	width: 35px;
  	height: 35px;
  	object-fit: cover;
}
.rectangle-div {
  	position: absolute;
  	top: 277px;
  	left: 246px;
  	border-radius: 40px;
  	background-color: #fff;
  	width: 642px;
  	height: 133px;
}
.rotas1-child3 {
  	position: absolute;
  	top: 342.94px;
  	left: 324.55px;
  	border-top: 5px solid #dadada;
  	box-sizing: border-box;
  	width: 562.9px;
  	height: 5px;
  	transform:  rotate(-0.2deg);
  	transform-origin: 0 0;
}
.rotas1-child4 {
  	position: absolute;
  	top: 369px;
  	left: 280px;
  	background-color: #bcbcbc;
  	border: 6px solid #000;
  	box-sizing: border-box;
  	width: 17px;
  	height: 17px;
}
.rotas1-child5 {
  	position: absolute;
  	top: 302px;
  	left: 280px;
  	border-radius: 50%;
  	background-color: #bcbcbc;
  	border: 6px solid #000;
  	box-sizing: border-box;
  	width: 17px;
  	height: 17px;
}
.rotas1-child6 {
  	position: absolute;
  	top: 319.5px;
  	left: 286.5px;
  	background-color: #d2d2d2;
  	border-right: 5px solid #000;
  	box-sizing: border-box;
  	width: 5px;
  	height: 49px;
}
.insira-o-local {
  	position: absolute;
  	top: 300px;
  	left: 342px;
  	display: inline-block;
  	color: #737373;
  	width: 468px;
  	height: 26px;
}
.insira-o-destino {
  	position: absolute;
  	top: 360px;
  	left: 342px;
  	display: inline-block;
  	color: #737373;
  	width: 468px;
  	height: 25px;
}
.rotas1-child7 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1280px;
  	height: 100px;
}
.rotas1-child8 {
  	position: absolute;
  	top: 31px;
  	left: 41px;
  	background-color: #fff;
  	width: 255px;
  	height: 41px;
}
.rotas1-child9 {
  	position: absolute;
  	top: 31px;
  	left: 315px;
  	background-color: #fff;
  	width: 189px;
  	height: 41px;
}
.comear-o-tutorial {
  	position: absolute;
  	top: 37px;
  	left: 50px;
  	font-weight: 500;
  	color: #000;
  	text-align: center;
  	display: inline-block;
  	width: 253.5px;
  	height: 25.7px;
}
.sobre-o-site {
  	position: absolute;
  	top: 37px;
  	left: 338px;
  	font-weight: 500;
  	color: #000;
  	text-align: center;
  	display: inline-block;
  	width: 148.4px;
  	height: 25.7px;
}
.vector-icon {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 95.31%;
  	bottom: 93.15%;
  	left: 42px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon2 {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 73.91%;
  	bottom: 93.15%;
  	left: 322px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-53-1 {
  	position: absolute;
  	top: 11px;
  	left: 1064px;
  	width: 199px;
  	height: 78px;
  	object-fit: cover;
}

