*{
	margin: 0;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
	text-decoration: none;
}
@font-face{
	font-family: Coolvetica;
	src: url(fonts/Coolvetica-Regular.woff);
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.rotas2 {
  	width: 100%;
  	height: 832px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}
.rotas {
  	position: absolute;
  	top: 176px;
  	left: 101.78px;
  	font-size: 64px;
  	display: inline-block;
  	width: 248px;
  	height: 67.6px;
}
.rotas2-child {
  	position: absolute;
  	top: 257px;
  	left: 81px;
  	border-radius: 40px;
  	background-color: #fff;
  	border: 10px solid #fff;
  	box-sizing: border-box;
  	width: 636px;
  	height: 143px;
}
.rotas2-item {
  	position: absolute;
  	top: 327.72px;
  	left: 162.6px;
  	border-top: 5px solid #dadada;
  	box-sizing: border-box;
  	width: 548.8px;
  	height: 5px;
  	transform:  rotate(-0.2deg);
  	transform-origin: 0 0;
}
.rotas2-inner {
  	position: absolute;
  	top: 354px;
  	left: 119px;
  	background-color: #bcbcbc;
  	border: 6px solid #000;
  	box-sizing: border-box;
  	width: 17px;
  	height: 17px;
}
.ellipse-div {
  	position: absolute;
  	top: 287px;
  	left: 119px;
  	border-radius: 50%;
  	background-color: #bcbcbc;
  	border: 6px solid #000;
  	box-sizing: border-box;
  	width: 17px;
  	height: 17px;
}
.line-div {
  	position: absolute;
  	top: 304.5px;
  	left: 124px;
  	background-color: #d2d2d2;
  	border-right: 5px solid #000;
  	box-sizing: border-box;
  	width: 5px;
  	height: 49px;
}
.av-da-cavalhada {
  	position: absolute;
  	top: 285px;
  	left: 180px;
  	display: inline-block;
  	color: #737373;
  	text-align: left;
  	width: 529px;
  	height: 26px;
}
.av-quara-451 {
  	position: absolute;
  	top: 344px;
  	left: 180px;
  	display: inline-block;
  	color: #737373;
  	text-align: left;
  	width: 529px;
  	height: 26px;
}
.image-5-icon {
  	position: absolute;
  	top: 511.67px;
  	left: 89px;
  	border-radius: 20px;
  	width: 257.8px;
  	height: 257.8px;
  	object-fit: cover;
}
.local-de-partida {
  	position: absolute;
  	top: 458px;
  	left: 131.78px;
  	display: inline-block;
  	width: 172.4px;
  	height: 25.8px;
}
.image-6-icon {
  	position: absolute;
  	top: 511.67px;
  	left: 457.89px;
  	border-radius: 20px;
  	width: 257.8px;
  	height: 257.8px;
  	object-fit: cover;
}
.local-de-chegada {
  	position: absolute;
  	top: 458px;
  	left: 492.78px;
  	display: inline-block;
  	width: 188.4px;
  	height: 25.8px;
}
.image-4-icon {
  	position: absolute;
  	top: 181.78px;
  	left: 827px;
  	border-radius: 20px;
  	width: 377.8px;
  	height: 587.6px;
  	object-fit: cover;
}
.trajeto-completo {
  	position: absolute;
  	top: 132px;
  	left: 883px;
  	display: inline-block;
  	width: 266px;
  	height: 26px;
}
.arrow-right-icon {
  	position: absolute;
  	top: 193.67px;
  	left: 89px;
  	width: 37px;
  	height: 39px;
  	object-fit: contain;
}
.rectangle-div {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1280px;
  	height: 100px;
}
.rotas2-child2 {
  	position: absolute;
  	top: 31px;
  	left: 41px;
  	background-color: #fff;
  	width: 255px;
  	height: 41px;
}
.rotas2-child3 {
  	position: absolute;
  	top: 31px;
  	left: 315px;
  	background-color: #fff;
  	width: 189px;
  	height: 41px;
}
.comear-o-tutorial {
  	position: absolute;
  	top: 37px;
  	left: 50px;
  	font-weight: 500;
  	display: inline-block;
  	width: 253.5px;
  	height: 25.7px;
}
.sobre-o-site {
  	position: absolute;
  	top: 37px;
  	left: 338px;
  	font-weight: 500;
  	display: inline-block;
  	width: 148.4px;
  	height: 25.7px;
}
.vector-icon {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 95.31%;
  	bottom: 93.15%;
  	left: 42px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon2 {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 73.91%;
  	bottom: 93.15%;
  	left: 320px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-53-1 {
  	position: absolute;
  	top: 11px;
  	left: 1064px;
  	width: 199px;
  	height: 78px;
  	object-fit: cover;
}

