.tutorial4 {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #fff;
  	font-family: Inter;
}
.image-8-icon {
  	position: absolute;
  	top: 117px;
  	left: 0px;
  	width: 1453px;
  	height: 940px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.tutorial4-child {
  	position: absolute;
  	top: 3px;
  	left: 1px;
  	background-color: #fff;
  	width: 1451px;
  	height: 114px;
  	flex-shrink: 0;
}
.tutorial4-item {
  	position: absolute;
  	top: 38px;
  	left: 292px;
  	background-color: #fff;
  	width: 192px;
  	height: 46px;
  	flex-shrink: 0;
}
.sobre-o-site {
  	position: absolute;
  	top: 46px;
  	left: 334px;
  	font-weight: 500;
  	color: #000;
  	display: inline-block;
  	width: 138px;
  	height: 30px;
  	flex-shrink: 0;
}
.chevron-right-icon {
  	position: absolute;
  	top: 49px;
  	left: 299px;
  	width: 25px;
  	height: 25px;
  	flex-shrink: 0;
}
.tutorial4-inner {
  	position: absolute;
  	top: 38px;
  	left: 44px;
  	background-color: #fff;
  	width: 248px;
  	height: 46px;
  	flex-shrink: 0;
}
.traar-uma-rota {
  	position: absolute;
  	top: 45px;
  	left: 78px;
  	font-weight: 500;
  	color: #000;
  	display: inline-block;
  	width: 205px;
  	height: 30px;
  	flex-shrink: 0;
}
.vector-icon {
  	position: absolute;
  	height: 1.27%;
  	width: 0.42%;
  	top: 5.27%;
  	right: 95.28%;
  	bottom: 93.46%;
  	left: 4.31%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.rectangle-div {
  	position: absolute;
  	top: 233px;
  	left: 361px;
  	border-radius: 20px;
  	background-color: rgba(34, 48, 121, 0.9);
  	width: 731px;
  	height: 594px;
  	flex-shrink: 0;
}
.voltar {
  	position: absolute;
  	top: 784px;
  	left: 675px;
  	font-size: 20px;
  	font-weight: 600;
  	display: inline-block;
  	width: 103px;
  	height: 31px;
  	flex-shrink: 0;
}
.line-div {
  	position: absolute;
  	top: 804.5px;
  	left: 690.5px;
  	border-top: 1px solid #fff;
  	box-sizing: border-box;
  	width: 75px;
  	height: 1px;
  	flex-shrink: 0;
}
.passo-dentro-do {
  	position: absolute;
  	top: 309px;
  	left: 379px;
  	font-size: 50px;
  	font-family: Coolvetica;
  	display: inline-block;
  	width: 695px;
  	height: 104px;
  	flex-shrink: 0;
}
.j-tendo-pago {
  	position: absolute;
  	top: 382px;
  	left: 400px;
  	font-size: 32px;
  	font-family: Coolvetica;
  	display: inline-block;
  	width: 653px;
  	height: 272px;
  	flex-shrink: 0;
}
.tutorial4-child2 {
  	position: absolute;
  	top: 654px;
  	left: 457px;
  	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  	border-radius: 20px;
  	background-color: #6375cf;
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 539px;
  	height: 130px;
  	flex-shrink: 0;
}
.prximo-passo {
  	position: absolute;
  	top: 684px;
  	left: 486px;
  	font-size: 58px;
  	font-weight: 600;
  	display: inline-block;
  	width: 471px;
  	height: 71px;
  	flex-shrink: 0;
}
.tutorial4-child3 {
  	position: absolute;
  	top: 24.53px;
  	left: 1321.11px;
  	background-color: #00c257;
  	width: 58.1px;
  	height: 7.3px;
  	flex-shrink: 0;
}
.tutorial4-child4 {
  	position: absolute;
  	top: 31.84px;
  	left: 1321.11px;
  	background-color: #ff0000;
  	width: 67.1px;
  	height: 7.3px;
  	flex-shrink: 0;
}
.tutorial4-child5 {
  	position: absolute;
  	top: 39.16px;
  	left: 1321.11px;
  	background-color: #fff700;
  	width: 76.2px;
  	height: 7.3px;
  	flex-shrink: 0;
}
.tutorial4-child6 {
  	position: absolute;
  	top: 46.48px;
  	left: 1321.11px;
  	background-color: #0053cf;
  	width: 84.8px;
  	height: 7.3px;
  	flex-shrink: 0;
}
.image-removebg-preview-1-icon {
  	position: absolute;
  	top: 0px;
  	left: 1223px;
  	width: 111px;
  	height: 74.9px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.oni {
  	position: absolute;
  	top: 54px;
  	left: 1140px;
  	font-size: 40px;
  	font-family: Coolvetica;
  	color: #ea0000;
  	display: inline-block;
  	width: 227px;
  	height: 60px;
  	flex-shrink: 0;
}
.sciente {
  	position: absolute;
  	top: 54px;
  	left: 1264px;
  	font-size: 40px;
  	font-family: Coolvetica;
  	color: #000;
  	display: inline-block;
  	width: 153px;
  	height: 60px;
  	flex-shrink: 0;
}

