.tutorial4 {
  	width: 100%;
  	height: 832px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #fff;
  	font-family: Inter;
}
.tutorial4-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1280px;
  	height: 100px;
  	flex-shrink: 0;
}
.tutorial4-item {
  	position: absolute;
  	top: 31px;
  	left: 41px;
  	background-color: #fff;
  	width: 231px;
  	height: 41px;
  	flex-shrink: 0;
}
.tutorial4-inner {
  	position: absolute;
  	top: 31px;
  	left: 287px;
  	background-color: #fff;
  	width: 178px;
  	height: 41px;
  	flex-shrink: 0;
}
.sobre-o-site {
  	position: absolute;
  	top: 37px;
  	left: 310px;
  	font-weight: 500;
  	color: #000;
  	display: inline-block;
  	width: 148.4px;
  	height: 25.7px;
  	flex-shrink: 0;
}
.traar-uma-rota {
  	position: absolute;
  	top: 37.43px;
  	left: 52.21px;
  	font-weight: 500;
  	color: #000;
  	display: inline-block;
  	width: 219.9px;
  	height: 25.7px;
  	flex-shrink: 0;
}
.vector-icon {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 95.31%;
  	bottom: 93.15%;
  	left: 4.14%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.vector-icon2 {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 76.09%;
  	bottom: 93.15%;
  	left: 23.36%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.group-53-1 {
  	position: absolute;
  	top: 11px;
  	left: 1064px;
  	width: 199px;
  	height: 78px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.image-8-icon {
  	position: absolute;
  	top: 100px;
  	left: -3px;
  	width: 1286px;
  	height: 832px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.rectangle-div {
  	position: absolute;
  	top: 166px;
  	left: 264px;
  	border-radius: 20px;
  	background-color: rgba(34, 48, 121, 0.9);
  	width: 751px;
  	height: 561px;
  	flex-shrink: 0;
}
.voltar {
  	position: absolute;
  	top: 684px;
  	left: 592px;
  	font-size: 20px;
  	font-weight: 600;
  	display: inline-block;
  	width: 92px;
  	height: 28px;
  	flex-shrink: 0;
}
.passo-dentro-do {
  	position: absolute;
  	top: 215px;
  	left: 332px;
  	font-size: 50px;
  	font-family: Coolvetica;
  	display: inline-block;
  	width: 615px;
  	height: 92px;
  	flex-shrink: 0;
}
.j-tendo-pago {
  	position: absolute;
  	top: 291px;
  	left: 314px;
  	font-size: 32px;
  	font-family: Coolvetica;
  	display: inline-block;
  	width: 648px;
  	height: 241px;
  	flex-shrink: 0;
}
.tutorial4-child2 {
  	position: absolute;
  	top: 558px;
  	left: 398px;
  	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  	border-radius: 20px;
  	background-color: #6375cf;
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 477px;
  	height: 115px;
  	flex-shrink: 0;
}
.prximo-passo {
  	position: absolute;
  	top: 585px;
  	left: 424px;
  	font-size: 58px;
  	font-weight: 600;
  	display: inline-block;
  	width: 414px;
  	height: 62px;
  	flex-shrink: 0;
}

