*{
	margin: 0;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
	text-decoration: none;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.tutorial5 {
  	width: 100%;
  	height: 832px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #fff;
  	font-family: Inter;
}
.group-61-1 {
  	position: absolute;
  	top: 100px;
  	left: 0px;
  	width: 1280px;
  	height: 733px;
  	object-fit: cover;
}
.group-62-1 {
  	position: absolute;
  	top: 135px;
  	left: 61px;
  	width: 580px;
  	height: 697px;
  	object-fit: cover;
}
.tutorial5-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1280px;
  	height: 100px;
}
.tutorial5-item {
  	position: absolute;
  	top: 31px;
  	left: 41px;
  	background-color: #fff;
  	width: 231px;
  	height: 41px;
}
.tutorial5-inner {
  	position: absolute;
  	top: 31px;
  	left: 287px;
  	background-color: #fff;
  	width: 178px;
  	height: 41px;
}
.sobre-o-site {
  	position: absolute;
  	top: 37px;
  	left: 310px;
  	font-weight: 500;
  	color: #000;
  	display: inline-block;
  	width: 148.4px;
  	height: 25.7px;
}
.traar-uma-rota {
  	position: absolute;
  	top: 37.43px;
  	left: 52.21px;
  	font-weight: 500;
  	color: #000;
  	display: inline-block;
  	width: 219.9px;
  	height: 25.7px;
}
.vector-icon {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 95.31%;
  	bottom: 93.15%;
  	left: 4.14%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon2 {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 76.09%;
  	bottom: 93.15%;
  	left: 23.36%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-53-1 {
  	position: absolute;
  	top: 11px;
  	left: 1064px;
  	width: 199px;
  	height: 78px;
  	object-fit: cover;
}
.rectangle-div {
  	position: absolute;
  	top: 158px;
  	left: 85px;
  	border-radius: 20px;
  	background-color: #223079;
  	width: 531px;
  	height: 524px;
}
.passo-descida {
  	position: absolute;
  	top: 217px;
  	left: 144px;
  	font-size: 50px;
  	font-family: Coolvetica;
  	display: inline-block;
  	width: 413px;
  	height: 83px;
}
.chegando-perto-da {
  	position: absolute;
  	top: 330px;
  	left: 118px;
  	font-family: Coolvetica;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	width: 466px;
  	height: 262px;
}
.tutorial5-child2 {
  	position: absolute;
  	top: 703px;
  	left: 190px;
  	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  	border-radius: 20px;
  	background-color: #6375cf;
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 319px;
  	height: 73px;
}
.finalizar {
  	position: absolute;
  	top: 712px;
  	left: 208px;
  	font-size: 48px;
  	font-weight: 600;
  	display: inline-block;
  	width: 279px;
  	height: 40px;
}

