*{
	margin: 0;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
	text-decoration: none;
}
.tutorial {
  	width: 100%;
  	height: 832px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}
.tutorial-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1280px;
  	height: 100px;
}
.tutorial-item {
  	position: absolute;
  	top: 31px;
  	left: 41px;
  	background-color: #fff;
  	width: 231px;
  	height: 41px;
}
.tutorial-inner {
  	position: absolute;
  	top: 31px;
  	left: 287px;
  	background-color: #fff;
  	width: 178px;
  	height: 41px;
}
.sobre-o-site {
  	position: absolute;
  	top: 37px;
  	left: 310px;
  	font-weight: 500;
  	display: inline-block;
  	width: 148.4px;
  	height: 25.7px;
}
.traar-uma-rota {
  	position: absolute;
  	top: 37.43px;
  	left: 52.21px;
  	font-weight: 500;
  	display: inline-block;
  	width: 219.9px;
  	height: 25.7px;
}
.vector-icon {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 95.31%;
  	bottom: 93.15%;
  	left: 4.14%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon2 {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 76.09%;
  	bottom: 93.15%;
  	left: 23.36%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-53-1 {
  	position: absolute;
  	top: 11px;
  	left: 1064px;
  	width: 199px;
  	height: 78px;
  	object-fit: cover;
}
.image-3-icon {
  	position: absolute;
  	top: 132px;
  	left: 800px;
  	border-radius: 20px;
  	width: 424px;
  	height: 283px;
  	object-fit: cover;
}
.rectangle-div {
  	position: absolute;
  	top: 132px;
  	left: 53px;
  	border-radius: 20px;
  	background-color: #223079;
  	width: 718px;
  	height: 581px;
}
.image-2-icon {
  	position: absolute;
  	top: 437px;
  	left: 801px;
  	border-radius: 20px;
  	width: 425px;
  	height: 276px;
  	object-fit: cover;
}
.nunca-andou-de-container {
  	position: absolute;
  	top: 173px;
  	left: 111px;
  	font-weight: 500;
  	color: #fff;
  	text-align: left;
  	display: inline-block;
  	width: 601px;
  	height: 499px;
  	font-size: 58px;
}
.blank-line {
  	font-size: 32px;
}
.temos-a-sua {
  	font-size: 30px;
}
.comear-agora {
  	position: absolute;
  	top: 736px;
  	left: 13px;
  	font-size: 48px;
  	font-weight: 500;
  	display: inline-block;
  	width: 511.8px;
  	height: 72px;
}
.arrow-right-icon {
  	position: absolute;
  	top: 748.34px;
  	left: 460px;
  	width: 47px;
  	height: 48px;
}

