.tutorial3 {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Coolvetica;
}
.tutorial3-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1440px;
  	height: 113px;
  	flex-shrink: 0;
}
.tutorial3-item {
  	position: absolute;
  	top: 35px;
  	left: 289px;
  	background-color: #fff;
  	width: 190px;
  	height: 46px;
  	flex-shrink: 0;
}
.sobre-o-site {
  	position: absolute;
  	top: 43px;
  	left: 330px;
  	font-weight: 500;
  	font-family: Inter;
  	display: inline-block;
  	width: 137px;
  	height: 29px;
  	flex-shrink: 0;
}
.chevron-right-icon {
  	position: absolute;
  	top: 46px;
  	left: 296px;
  	width: 24px;
  	height: 24px;
  	flex-shrink: 0;
}
.tutorial3-inner {
  	position: absolute;
  	top: 35px;
  	left: 43px;
  	background-color: #fff;
  	width: 246px;
  	height: 46px;
  	flex-shrink: 0;
}
.traar-uma-rota {
  	position: absolute;
  	top: 42px;
  	left: 76px;
  	font-weight: 500;
  	font-family: Inter;
  	display: inline-block;
  	width: 203px;
  	height: 29px;
  	flex-shrink: 0;
}
.vector-icon {
  	position: absolute;
  	height: 1.17%;
  	width: 0.42%;
  	top: 4.98%;
  	right: 95.42%;
  	bottom: 93.85%;
  	left: 4.17%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.rectangle-div {
  	position: absolute;
  	top: 246px;
  	left: 116px;
  	border-radius: 20px;
  	background-color: #223079;
  	width: 726px;
  	height: 491px;
  	flex-shrink: 0;
}
.passo-pagamento {
  	position: absolute;
  	top: 291px;
  	left: 136px;
  	font-size: 50px;
  	color: #fff;
  	display: inline-block;
  	width: 690px;
  	height: 103px;
  	flex-shrink: 0;
}
.ao-subir-no {
  	position: absolute;
  	top: 394px;
  	left: 170px;
  	font-size: 32px;
  	color: #fff;
  	display: inline-block;
  	width: 637px;
  	height: 319px;
  	flex-shrink: 0;
}
.tutorial3-child2 {
  	position: absolute;
  	top: 791px;
  	left: 216px;
  	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  	border-radius: 20px;
  	background-color: #6375cf;
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 534px;
  	height: 128px;
  	flex-shrink: 0;
}
.prximo-passo {
  	position: absolute;
  	top: 820px;
  	left: 244px;
  	font-size: 58px;
  	font-weight: 600;
  	font-family: Inter;
  	color: #fff;
  	display: inline-block;
  	width: 467px;
  	flex-shrink: 0;
}
.line-div {
  	position: absolute;
  	top: 94px;
  	left: 967.75px;
  	border-right: 38px solid #000;
  	box-sizing: border-box;
  	width: 38px;
  	height: 1058px;
  	flex-shrink: 0;
}
.tutorial3-child3 {
  	position: absolute;
  	top: 377px;
  	left: 916px;
  	border-radius: 17px;
  	background-color: #727272;
  	width: 105px;
  	height: 143px;
  	flex-shrink: 0;
}
.tutorial3-child4 {
  	position: absolute;
  	top: 400px;
  	left: 934px;
  	background-color: #acacac;
  	width: 71px;
  	height: 62px;
  	flex-shrink: 0;
}
.tutorial3-child5 {
  	position: absolute;
  	top: 486px;
  	left: 934px;
  	background-color: #424242;
  	width: 71px;
  	height: 12px;
  	flex-shrink: 0;
}
.wifi-icon {
  	position: absolute;
  	top: 416px;
  	left: 947px;
  	width: 46px;
  	height: 33px;
  	object-fit: contain;
  	flex-shrink: 0;
}
.tutorial3-child6 {
  	position: absolute;
  	top: 155px;
  	left: -4.52px;
  	border-top: 9px solid #000;
  	box-sizing: border-box;
  	width: 1449px;
  	height: 9px;
  	flex-shrink: 0;
}
.image-10-icon {
  	position: absolute;
  	top: 202px;
  	left: 1247.61px;
  	width: 220.4px;
  	height: 889px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.tutorial3-child7 {
  	position: absolute;
  	top: 545.36px;
  	left: 1233.05px;
  	border-radius: 0px 0px 60px 60px;
  	background-color: #000;
  	width: 86px;
  	height: 246.3px;
  	transform:  rotate(118deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.tutorial3-child8 {
  	position: absolute;
  	top: 386px;
  	left: 1248.01px;
  	background-color: #000;
  	width: 86px;
  	height: 234.4px;
  	transform:  rotate(27deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.tutorial3-child9 {
  	position: absolute;
  	top: 442.29px;
  	left: 975px;
  	background-color: #adb9f6;
  	width: 90px;
  	height: 52px;
  	transform:  rotate(-15deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.tri {
  	position: absolute;
  	top: 441.78px;
  	left: 1005.2px;
  	font-size: 32px;
  	transform:  rotate(-15deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.voltar-parent {
  	position: absolute;
  	top: 919px;
  	left: 427px;
  	width: 102px;
  	height: 31px;
  	flex-shrink: 0;
  	font-size: 20px;
  	font-family: Inter;
}
.voltar {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 600;
  	display: inline-block;
  	width: 102px;
  	height: 31px;
}
.group-child {
  	position: absolute;
  	top: 20.5px;
  	left: 14.5px;
  	border-top: 1px solid #000;
  	box-sizing: border-box;
  	width: 75px;
  	height: 1px;
}
.tutorial3-child10 {
  	position: absolute;
  	top: 24.53px;
  	left: 1321.11px;
  	background-color: #00c257;
  	width: 58.1px;
  	height: 7.3px;
  	flex-shrink: 0;
}
.tutorial3-child11 {
  	position: absolute;
  	top: 31.84px;
  	left: 1321.11px;
  	background-color: #ff0000;
  	width: 67.1px;
  	height: 7.3px;
  	flex-shrink: 0;
}
.tutorial3-child12 {
  	position: absolute;
  	top: 39.16px;
  	left: 1321.11px;
  	background-color: #fff700;
  	width: 76.2px;
  	height: 7.3px;
  	flex-shrink: 0;
}
.tutorial3-child13 {
  	position: absolute;
  	top: 46.48px;
  	left: 1321.11px;
  	background-color: #0053cf;
  	width: 84.8px;
  	height: 7.3px;
  	flex-shrink: 0;
}
.image-removebg-preview-1-icon {
  	position: absolute;
  	top: 0px;
  	left: 1223px;
  	width: 111px;
  	height: 74.9px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.oni {
  	position: absolute;
  	top: 54px;
  	left: 1140px;
  	font-size: 40px;
  	color: #ea0000;
  	display: inline-block;
  	width: 227px;
  	height: 60px;
  	flex-shrink: 0;
}
.sciente {
  	position: absolute;
  	top: 54px;
  	left: 1264px;
  	font-size: 40px;
  	display: inline-block;
  	width: 153px;
  	height: 60px;
  	flex-shrink: 0;
}

