*{
	margin: 0;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
	text-decoration: none;
}
@font-face{
	font-family: Coolvetica;
	src: url(fonts/Coolvetica-Regular.woff);
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.tutorial3 {
  	width: 100%;
  	height: 832px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}
.group-60-1 {
  	position: absolute;
  	top: 100px;
  	left: 804px;
  	width: 477px;
  	height: 732px;
  	object-fit: cover;
}
.tutorial3-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1280px;
  	height: 100px;
}
.tutorial3-item {
  	position: absolute;
  	top: 31px;
  	left: 41px;
  	background-color: #fff;
  	width: 231px;
  	height: 41px;
}
.tutorial3-inner {
  	position: absolute;
  	top: 31px;
  	left: 287px;
  	background-color: #fff;
  	width: 178px;
  	height: 41px;
}
.sobre-o-site {
  	position: absolute;
  	top: 37px;
  	left: 310px;
  	font-weight: 500;
  	display: inline-block;
  	width: 148.4px;
  	height: 25.7px;
}
.traar-uma-rota {
  	position: absolute;
  	top: 37.43px;
  	left: 52.21px;
  	font-weight: 500;
  	display: inline-block;
  	width: 219.9px;
  	height: 25.7px;
}
.vector-icon {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 95.31%;
  	bottom: 93.15%;
  	left: 300px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon2 {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 76.09%;
  	bottom: 93.15%;
  	left: 42px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-53-1 {
  	position: absolute;
  	top: 11px;
  	left: 1064px;
  	width: 199px;
  	height: 78px;
  	object-fit: cover;
}
.rectangle-div {
  	position: absolute;
  	top: 155px;
  	left: 84px;
  	border-radius: 20px;
  	background-color: #223079;
  	width: 642px;
  	height: 435px;
}
.passo-pagamento {
  	position: absolute;
  	top: 195px;
  	left: 102px;
  	font-size: 50px;
  	font-family: Coolvetica;
  	color: #fff;
  	display: inline-block;
  	width: 610px;
  	height: 91px;
}
.ao-subir-no {
  	position: absolute;
  	top: 287px;
  	left: 123px;
  	font-size: 28px;
  	font-family: Coolvetica;
  	color: #fff;
  	display: inline-block;
  	width: 563px;
  	height: 282px;
}
.tutorial3-child2 {
  	position: absolute;
  	top: 620px;
  	left: 172px;
  	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  	border-radius: 20px;
  	background-color: #6375cf;
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 473px;
  	height: 114px;
}
.prximo-passo {
  	position: absolute;
  	top: 640px;
  	left: 202px;
  	font-size: 58px;
  	font-weight: 600;
  	color: #fff;
  	display: inline-block;
  	width: 413px;
  	height: 62px;
}
.voltar {
  	position: absolute;
  	top: 753px;
  	left: 364px;
  	font-size: 20px;
  	font-weight: 600;
  	display: inline-block;
  	width: 90.2px;
  	height: 27.4px;
}

