*{
	margin: 0;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
	text-decoration: none;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.tutorial2 {
  	width: 100%;
  	height: 832px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}
.tutorial2-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1280px;
  	height: 100px;
  	flex-shrink: 0;
}
.tutorial2-item {
  	position: absolute;
  	top: 31px;
  	left: 41px;
  	background-color: #fff;
  	width: 231px;
  	height: 41px;
  	flex-shrink: 0;
}
.tutorial2-inner {
  	position: absolute;
  	top: 31px;
  	left: 287px;
  	background-color: #fff;
  	width: 178px;
  	height: 41px;
  	flex-shrink: 0;
}
.sobre-o-site {
  	position: absolute;
  	top: 37px;
  	left: 310px;
  	font-weight: 500;
  	display: inline-block;
  	width: 148.4px;
  	height: 25.7px;
  	flex-shrink: 0;
}
.traar-uma-rota {
  	position: absolute;
  	top: 37.43px;
  	left: 52.21px;
  	font-weight: 500;
  	display: inline-block;
  	width: 219.9px;
  	height: 25.7px;
  	flex-shrink: 0;
}
.vector-icon {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 95.31%;
  	bottom: 93.15%;
  	left: 4.14%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.vector-icon2 {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 76.09%;
  	bottom: 93.15%;
  	left: 23.36%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.group-53-1 {
  	position: absolute;
  	top: 11px;
  	left: 1064px;
  	width: 199px;
  	height: 78px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.group-57-1 {
  	position: absolute;
  	top: 180px;
  	left: 41px;
  	width: 578px;
  	height: 652px;
  	flex-shrink: 0;
}
.group-58-1 {
  	position: absolute;
  	top: 137px;
  	left: 939px;
  	width: 341px;
  	height: 726px;
  	flex-shrink: 0;
}
.group-57-2 {
  	position: absolute;
  	top: 169px;
  	left: 34px;
  	width: 588px;
  	height: 663px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.group-58-2 {
  	position: absolute;
  	top: 137px;
  	left: 945px;
  	width: 409px;
  	height: 872px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.rectangle-parent {
  	position: absolute;
  	top: 265px;
  	left: 413px;
  	width: 697px;
  	height: 481px;
  	flex-shrink: 0;
  	font-size: 50px;
  	color: #fff;
  	font-family: Coolvetica;
}
.group-child {
  	position: absolute;
  	top: 0px;
  	left: 1px;
  	border-radius: 20px;
  	background-color: rgba(34, 48, 121, 0.65);
  	width: 694px;
  	height: 481px;
}
.passo-na-parada {
  	position: absolute;
  	top: 29px;
  	left: -40px;
  	display: inline-block;
  	width: 690px;
  	height: 103px;
}
.j-na-parada {
  	position: absolute;
  	top: 107px;
  	left: -5px;
  	font-size: 32px;
  	display: inline-block;
  	width: 601px;
  	height: 224px;
}
.group-item {
  	position: absolute;
  	top: 328px;
  	left: 70px;
  	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
  	border-radius: 20px;
  	background-color: #6375cf;
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 452.8px;
  	height: 112px;
}
.prximo-passo {
  	position: absolute;
  	top: 353px;
  	left: 97px;
  	font-size: 52px;
  	font-weight: 600;
  	font-family: Inter;
  	display: inline-block;
  	width: 395.9px;
  	height: 61.3px;
}
.voltar {
  	position: absolute;
  	top: 445px;
  	left: 250px;
  	font-size: 20px;
  	font-weight: 600;
  	font-family: Inter;
  	color: #000;
  	display: inline-block;
  	width: 102px;
  	height: 31px;
}

