*{
	margin: 0;
}
a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
	text-decoration: none;
}
.tutorial1 {
  	width: 100%;
  	height: 832px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #fff;
  	font-family: Coolvetica;
}
.tutorial1-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1280px;
  	height: 100px;
}
.tutorial1-item {
  	position: absolute;
  	top: 31px;
  	left: 41px;
  	background-color: #fff;
  	width: 231px;
  	height: 41px;
}
.tutorial1-inner {
  	position: absolute;
  	top: 31px;
  	left: 287px;
  	background-color: #fff;
  	width: 178px;
  	height: 41px;
}
.sobre-o-site {
  	position: absolute;
  	top: 37px;
  	left: 310px;
  	font-weight: 500;
  	font-family: Inter;
  	color: #000;
  	display: inline-block;
  	width: 148.4px;
  	height: 25.7px;
}
.traar-uma-rota {
  	position: absolute;
  	top: 37.43px;
  	left: 52.21px;
  	font-weight: 500;
  	font-family: Inter;
  	color: #000;
  	display: inline-block;
  	width: 219.9px;
  	height: 25.7px;
}
.vector-icon {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 95.31%;
  	bottom: 93.15%;
  	left: 4.14%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon2 {
  	position: absolute;
  	height: 1.56%;
  	width: 0.55%;
  	top: 5.29%;
  	right: 76.09%;
  	bottom: 93.15%;
  	left: 23.36%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.group-53-1 {
  	position: absolute;
  	top: 11px;
  	left: 1064px;
  	width: 199px;
  	height: 78px;
  	object-fit: cover;
}
.passo-traar-sua {
  	position: absolute;
  	top: 211px;
  	left: 580px;
  	font-size: 50px;
  	display: inline-block;
  	width: 633px;
  	height: 55px;
}
.rectangle-div {
  	position: absolute;
  	top: 156px;
  	left: 565px;
  	border-radius: 20px;
  	background-color: #223079;
  	width: 659px;
  	height: 446px;
}
.image-5-icon {
  	position: absolute;
  	top: 170px;
  	left: 108px;
  	border-radius: 20px;
  	width: 386px;
  	height: 601px;
  	object-fit: cover;
}
.use-a-nossa {
  	position: absolute;
  	top: 299px;
  	left: 628px;
  	font-size: 32px;
  	display: inline-block;
  	width: 546px;
  	height: 204px;
}
.tutorial1-child2 {
  	position: absolute;
  	top: 625px;
  	left: 652px;
  	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  	border-radius: 20px;
  	background-color: #B5C1FF;
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 485px;
  	height: 116px;
}
.prximo-passo {
  	position: absolute;
  	top: 651px;
  	left: 678px;
  	font-size: 58px;
  	display: inline-block;
  	width: 424px;
  	height: 64px;
}
.voltar {
  	position: absolute;
  	top: 748px;
  	left: 844px;
  	font-size: 20px;
  	font-weight: 600;
  	font-family: Inter;
  	color: #000;
  	display: inline-block;
  	width: 93px;
  	height: 28px;
}
.passo-pagamento {
  	position: absolute;
  	top: 212px;
  	left: 594px;
  	font-size: 50px;
  	display: inline-block;
  	width: 627px;
  	height: 93px;
}

