.tutorial2 {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Inter;
}
.tutorial2-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1440px;
  	height: 113px;
  	flex-shrink: 0;
}
.tutorial2-item {
  	position: absolute;
  	top: 35px;
  	left: 289px;
  	background-color: #fff;
  	width: 190px;
  	height: 46px;
  	flex-shrink: 0;
}
.sobre-o-site {
  	position: absolute;
  	top: 43px;
  	left: 330px;
  	font-weight: 500;
  	display: inline-block;
  	width: 137px;
  	height: 29px;
  	flex-shrink: 0;
}
.chevron-right-icon {
  	position: absolute;
  	top: 46px;
  	left: 296px;
  	width: 24px;
  	height: 24px;
  	flex-shrink: 0;
}
.tutorial2-inner {
  	position: absolute;
  	top: 35px;
  	left: 43px;
  	background-color: #fff;
  	width: 246px;
  	height: 46px;
  	flex-shrink: 0;
}
.traar-uma-rota {
  	position: absolute;
  	top: 42px;
  	left: 76px;
  	font-weight: 500;
  	display: inline-block;
  	width: 203px;
  	height: 29px;
  	flex-shrink: 0;
}
.vector-icon {
  	position: absolute;
  	height: 1.17%;
  	width: 0.42%;
  	top: 4.98%;
  	right: 95.42%;
  	bottom: 93.85%;
  	left: 4.17%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	flex-shrink: 0;
}
.rectangle-div {
  	position: absolute;
  	top: 376px;
  	left: 1146.69px;
  	background-color: #ababab;
  	width: 222.4px;
  	height: 682px;
  	flex-shrink: 0;
}
.polygon-icon {
  	position: absolute;
  	top: 318px;
  	left: 1031px;
  	width: 237.8px;
  	height: 942px;
  	flex-shrink: 0;
}
.tutorial2-child2 {
  	position: absolute;
  	top: 318px;
  	left: 1240.53px;
  	width: 237.8px;
  	height: 1014px;
  	flex-shrink: 0;
}
.line-div {
  	position: absolute;
  	top: 590px;
  	left: 1254.64px;
  	border-right: 14px solid #fbff00;
  	box-sizing: border-box;
  	width: 14px;
  	height: 84px;
  	flex-shrink: 0;
}
.tutorial2-child3 {
  	position: absolute;
  	top: 730px;
  	left: 1254.64px;
  	border-right: 14px solid #fbff00;
  	box-sizing: border-box;
  	width: 14px;
  	height: 84px;
  	flex-shrink: 0;
}
.tutorial2-child4 {
  	position: absolute;
  	top: 874px;
  	left: 1254.1px;
  	border-right: 14px solid #fbff00;
  	box-sizing: border-box;
  	width: 14px;
  	height: 84px;
  	flex-shrink: 0;
}
.tutorial2-child5 {
  	position: absolute;
  	top: 460px;
  	left: 1254.64px;
  	border-right: 14px solid #fbff00;
  	box-sizing: border-box;
  	width: 14px;
  	height: 84px;
  	flex-shrink: 0;
}
.tutorial2-child6 {
  	position: absolute;
  	top: 213px;
  	left: 1372px;
  	border-radius: 8px;
  	background-color: #000;
  	width: 21.5px;
  	height: 63px;
  	flex-shrink: 0;
}
.tutorial2-child7 {
  	position: absolute;
  	top: 196.5px;
  	left: 1379px;
  	border-right: 5px solid #000;
  	box-sizing: border-box;
  	width: 5px;
  	height: 19px;
  	flex-shrink: 0;
}
.line-icon {
  	position: absolute;
  	top: 196px;
  	left: 1364.5px;
  	width: 18.6px;
  	height: 4.9px;
  	object-fit: contain;
  	flex-shrink: 0;
}
.tutorial2-child8 {
  	position: absolute;
  	top: 213px;
  	left: 1140.5px;
  	border-radius: 8px;
  	background-color: #000;
  	width: 21.5px;
  	height: 63px;
  	transform:  rotate(180deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.tutorial2-child9 {
  	position: absolute;
  	top: 196.5px;
  	left: 1128.5px;
  	border-right: 5px solid #000;
  	box-sizing: border-box;
  	width: 5px;
  	height: 19px;
  	flex-shrink: 0;
}
.tutorial2-child10 {
  	position: absolute;
  	top: 196px;
  	left: 1129.42px;
  	width: 18.6px;
  	height: 4.9px;
  	object-fit: contain;
  	flex-shrink: 0;
}
.tutorial2-child11 {
  	position: absolute;
  	top: 213px;
  	left: 1147px;
  	background-color: #e20000;
  	width: 219px;
  	height: 154px;
  	flex-shrink: 0;
}
.tutorial2-child12 {
  	position: absolute;
  	top: 152px;
  	left: 1147px;
  	border-radius: 64px 64px 0px 0px;
  	background-color: #b30000;
  	width: 219px;
  	height: 61px;
  	flex-shrink: 0;
}
.tutorial2-child13 {
  	position: absolute;
  	top: 390.5px;
  	left: 1137.5px;
  	border-radius: 35px 35px 0px 0px;
  	background-color: #d9d9d9;
  	width: 237.5px;
  	height: 23.5px;
  	flex-shrink: 0;
}
.tutorial2-child14 {
  	position: absolute;
  	top: 162.5px;
  	left: 1192px;
  	background-color: #a7a7a7;
  	border: 4px solid #000;
  	box-sizing: border-box;
  	width: 129px;
  	height: 26px;
  	flex-shrink: 0;
}
.tutorial2-child15 {
  	position: absolute;
  	top: 193px;
  	left: 1154px;
  	border-radius: 25px 25px 0px 0px;
  	background-color: #55c2e1;
  	border: 8px solid #000;
  	box-sizing: border-box;
  	width: 205px;
  	height: 118.5px;
  	flex-shrink: 0;
}
.tutorial2-child16 {
  	position: absolute;
  	top: 307.5px;
  	left: 1154px;
  	border-radius: 0px 0px 25px 25px;
  	background-color: #000;
  	width: 205px;
  	height: 20px;
  	flex-shrink: 0;
}
.ellipse-div {
  	position: absolute;
  	top: 335px;
  	left: 1326px;
  	border-radius: 50%;
  	background-color: #f3dc45;
  	border: 4px solid #000;
  	box-sizing: border-box;
  	width: 24.5px;
  	height: 24.5px;
  	flex-shrink: 0;
}
.tutorial2-child17 {
  	position: absolute;
  	top: 335px;
  	left: 1160px;
  	border-radius: 50%;
  	background-color: #f3dc45;
  	border: 4px solid #000;
  	box-sizing: border-box;
  	width: 24.5px;
  	height: 24.5px;
  	flex-shrink: 0;
}
.tutorial2-child18 {
  	position: absolute;
  	top: 390.5px;
  	left: 1297.5px;
  	border-radius: 0px 0px 12px 12px;
  	background-color: #000;
  	width: 41px;
  	height: 25.5px;
  	flex-shrink: 0;
}
.tutorial2-child19 {
  	position: absolute;
  	top: 390.5px;
  	left: 1172.5px;
  	border-radius: 0px 0px 12px 12px;
  	background-color: #000;
  	width: 41px;
  	height: 25.5px;
  	flex-shrink: 0;
}
.image-10-icon {
  	position: absolute;
  	top: 195px;
  	left: 34px;
  	width: 398px;
  	height: 1372px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.tutorial2-child20 {
  	position: absolute;
  	top: 480px;
  	left: 365px;
  	background-color: #000;
  	width: 129px;
  	height: 90px;
  	flex-shrink: 0;
}
.tutorial2-child21 {
  	position: absolute;
  	top: 571.38px;
  	left: 491.91px;
  	border-radius: 0px 0px 60px 60px;
  	background-color: #000;
  	width: 86px;
  	height: 522px;
  	transform:  rotate(-139deg);
  	transform-origin: 0 0;
  	flex-shrink: 0;
}
.tutorial2-child22 {
  	position: absolute;
  	top: 451px;
  	left: 596px;
  	border-radius: 20px;
  	background-color: rgba(34, 48, 121, 0.65);
  	width: 694px;
  	height: 481px;
  	flex-shrink: 0;
}
.passo-na-parada {
  	position: absolute;
  	top: 480px;
  	left: 603px;
  	font-size: 50px;
  	font-family: Coolvetica;
  	color: #fff;
  	display: inline-block;
  	width: 690px;
  	height: 103px;
  	flex-shrink: 0;
}
.j-na-parada {
  	position: absolute;
  	top: 558px;
  	left: 647px;
  	font-size: 32px;
  	font-family: Coolvetica;
  	color: #fff;
  	display: inline-block;
  	width: 601px;
  	height: 224px;
  	flex-shrink: 0;
}
.tutorial2-child23 {
  	position: absolute;
  	top: 779px;
  	left: 722px;
  	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
  	border-radius: 20px;
  	background-color: #6375cf;
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 452.8px;
  	height: 112px;
  	flex-shrink: 0;
}
.prximo-passo {
  	position: absolute;
  	top: 804px;
  	left: 750px;
  	font-size: 52px;
  	font-weight: 600;
  	color: #fff;
  	display: inline-block;
  	width: 395.9px;
  	height: 61.3px;
  	flex-shrink: 0;
}
.onisciente {
  	position: absolute;
  	top: 164px;
  	left: 1185px;
  	font-size: 20px;
  	font-weight: 600;
  	display: inline-block;
  	width: 145px;
  	height: 23px;
  	flex-shrink: 0;
  	color: #ea0000;
}
.sciente {
  	color: #000;
}
.voltar {
  	position: absolute;
  	top: 891px;
  	left: 897px;
  	font-size: 20px;
  	font-weight: 600;
  	display: inline-block;
  	width: 102px;
  	height: 31px;
  	flex-shrink: 0;
}
.tutorial2-child24 {
  	position: absolute;
  	top: 911.5px;
  	left: 911.5px;
  	border-top: 1px solid #000;
  	box-sizing: border-box;
  	width: 75px;
  	height: 1px;
  	flex-shrink: 0;
}
.tutorial2-child25 {
  	position: absolute;
  	top: 24.53px;
  	left: 1321.11px;
  	background-color: #00c257;
  	width: 58.1px;
  	height: 7.3px;
  	flex-shrink: 0;
}
.tutorial2-child26 {
  	position: absolute;
  	top: 31.84px;
  	left: 1321.11px;
  	background-color: #ff0000;
  	width: 67.1px;
  	height: 7.3px;
  	flex-shrink: 0;
}
.tutorial2-child27 {
  	position: absolute;
  	top: 39.16px;
  	left: 1321.11px;
  	background-color: #fff700;
  	width: 76.2px;
  	height: 7.3px;
  	flex-shrink: 0;
}
.tutorial2-child28 {
  	position: absolute;
  	top: 46.48px;
  	left: 1321.11px;
  	background-color: #0053cf;
  	width: 84.8px;
  	height: 7.3px;
  	flex-shrink: 0;
}
.image-removebg-preview-1-icon {
  	position: absolute;
  	top: 0px;
  	left: 1223px;
  	width: 111px;
  	height: 74.9px;
  	object-fit: cover;
  	flex-shrink: 0;
}
.oni {
  	position: absolute;
  	top: 54px;
  	left: 1140px;
  	font-size: 40px;
  	font-family: Coolvetica;
  	color: #ea0000;
  	display: inline-block;
  	width: 227px;
  	height: 60px;
  	flex-shrink: 0;
}
.sciente2 {
  	position: absolute;
  	top: 54px;
  	left: 1264px;
  	font-size: 40px;
  	font-family: Coolvetica;
  	display: inline-block;
  	width: 153px;
  	height: 60px;
  	flex-shrink: 0;
}

