.index {
	width: 100%;
	height: 1986px;
	position: relative;
	background-color: #223079;
	/* overflow-x: auto; */
	text-align: center;
	font-size: 28px;
	color: #000;
	font-family: Inter;
}
a:link {
	color: black;
	text-decoration: none;
}
.fundo-icon {
	width: 100%;
	height: 786px;
	object-fit: cover;
	flex-shrink: 0;
}

.mid-bar {
    display: flex;
    align-items: center;
}
.index-child {
	position: absolute;
	top: 713px;
	left: 0px;
	background-color: #fff;
	width: 100%;
	height: 294px;
	flex-shrink: 0;
}

.index-item {
	position: absolute;
	top: 603px;
	left: 242px;
	border-radius: 50%;
	background-color: #fff;
	width: 955px;
	height: 279px;
	flex-shrink: 0;
}

.index-inner {
	position: absolute;
	top: 741px;
	left: 717px;
	border-top: 4px solid #000;
	box-sizing: border-box;
	width: 184px;
	height: 4px;
	transform: rotate(89.7deg);
	transform-origin: 0 0;
	flex-shrink: 0;
}

.rectangle-div {
	position: absolute;
	top: 668px;
	left: 769px;
	background-color: #fff;
	width: 298px;
	height: 298px;
	flex-shrink: 0;
}

.aprenda-a-andar {
	position: absolute;
	top: 801px;
	left: 825px;
	font-size: 24px;
	display: inline-block;
	width: 185px;
	flex-shrink: 0;
}

.tutorial-onisciente {
	position: absolute;
	top: 761px;
	left: 744px;
	display: inline-block;
	width: 348px;
	flex-shrink: 0;
}

.index-child2 {
	position: absolute;
	top: 668px;
	left: 385px;
	background-color: #fff;
	width: 298px;
	height: 298px;
	flex-shrink: 0;
}

.group-51-1 {
	position: absolute;
	top: 671px;
	left: 507px;
	width: 54px;
	height: 65px;
	object-fit: cover;
	flex-shrink: 0;
}

.trace-rotas-para {
	position: absolute;
	top: 803px;
	left: 429px;
	font-size: 24px;
	display: inline-block;
	width: 210px;
	flex-shrink: 0;
}

.novos-caminhos {
	position: absolute;
	top: 761px;
	left: 417px;
	display: inline-block;
	width: 234px;
	flex-shrink: 0;
}

.index-child3 {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #fff;
	width: 100%;
	height: 113px;
	flex-shrink: 0;
}

.index-child4 {
	position: absolute;
	top: 35px;
	left: 310px;
	background-color: #fff;
	width: 246px;
	height: 46px;
	flex-shrink: 0;
}

.index-child5 {
	position: absolute;
	top: 35px;
	left: 581px;
	background-color: #fff;
	width: 190px;
	height: 46px;
	flex-shrink: 0;
}

.index-child6 {
	position: absolute;
	top: 35px;
	left: 43px;
	background-color: #fff;
	width: 246px;
	height: 46px;
	flex-shrink: 0;
}

.comear-o-tutorial-parent {
	position: absolute;
	top: 42px;
	left: 60px;
	width: 699px;
	height: 30px;
	flex-shrink: 0;
	font-size: 24px;
}

.comear-o-tutorial {
	position: absolute;
	top: 0px;
	left: 266px;
	font-weight: 500;
	display: inline-block;
	width: 234px;
	height: 29px;
}

.vector-icon {
	position: absolute;
	height: 40%;
	width: 0.86%;
	top: 29.91%;
	right: 62.52%;
	bottom: 30.09%;
	left: 36.62%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}

.sobre-o-site {
	position: absolute;
	top: 1px;
	left: 562px;
	font-weight: 500;
	display: inline-block;
	width: 137px;
	height: 29px;
}

.vector-icon2 {
	position: absolute;
	height: 40%;
	width: 0.86%;
	top: 33.25%;
	right: 22.32%;
	bottom: 26.75%;
	left: 76.82%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}

.traar-uma-rota {
	position: absolute;
	top: 0px;
	left: 16px;
	font-weight: 500;
	display: inline-block;
	width: 203px;
	height: 29px;
}

.vector-icon3 {
	position: absolute;
	height: 43%;
	width: 0.86%;
	top: 25.44%;
	right: 99.14%;
	bottom: 31.56%;
	left: 0%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}

.index-child7 {
	position: absolute;
	top: 1133px;
	left: 113px;
	border-radius: 20px;
	background-color: #2e42a6;
	width: 544px;
	height: 615px;
	flex-shrink: 0;
}

.a-misso-do {
	position: absolute;
	top: 1173px;
	left: 153px;
	font-weight: 500;
	color: #fff;
	text-align: justify;
	display: inline-block;
	width: 464px;
	height: 200px;
	flex-shrink: 0;
}

.nossa-viso {
	position: absolute;
	top: 1406px;
	left: 153px;
	font-weight: 500;
	color: #fff;
	text-align: justify;
	display: inline-block;
	width: 464px;
	flex-shrink: 0;
}

.visamos-a-inovao {
	position: absolute;
	top: 1602px;
	left: 153px;
	font-weight: 500;
	color: #fff;
	text-align: justify;
	display: inline-block;
	width: 451px;
	flex-shrink: 0;
}

.index-child8 {
	position: absolute;
	top: 1889px;
	left: 0px;
	background-color: #fff;
	width: 100%;
	height: 97px;
	flex-shrink: 0;
}

.index-child9 {
	position: absolute;
	top: 1949px;
	left: 129.11px;
	background-color: #00c257;
	width: 58.1px;
	height: 7.3px;
	flex-shrink: 0;
}

.index-child10 {
	position: absolute;
	top: 1956px;
	left: 129.11px;
	background-color: #ff0000;
	width: 67.1px;
	height: 7.3px;
	flex-shrink: 0;
}

.index-child11 {
	position: absolute;
	top: 1963px;
	left: 129.11px;
	background-color: #fff700;
	width: 76.2px;
	height: 7.3px;
	flex-shrink: 0;
}

.index-child12 {
	position: absolute;
	top: 1970px;
	left: 129.11px;
	background-color: #0053cf;
	width: 84.8px;
	height: 7.3px;
	flex-shrink: 0;
}

.image-removebg-preview-1-icon {
	position: absolute;
	top: 1925px;
	left: 31px;
	width: 111px;
	height: 74.9px;
	object-fit: cover;
	flex-shrink: 0;
}

.onisciente-2025-todos {
	position: absolute;
	top: 1945px;
	left: 900px;
	font-size: 24px;
	font-family: Coolvetica;
	display: inline-block;
	width: 606px;
	height: 88px;
	flex-shrink: 0;
}

.onibus-1-icon {
	position: absolute;
	top: 1012px;
	left: 694px;
	width: 743px;
	height: 877px;
	object-fit: cover;
	flex-shrink: 0;
}

.oni {
	position: absolute;
	top: 54px;
	left: 1140px;
	font-size: 40px;
	font-family: Coolvetica;
	color: #ea0000;
	display: inline-block;
	width: 227px;
	height: 60px;
	flex-shrink: 0;
}

.sciente {
	position: absolute;
	top: 54px;
	left: 1264px;
	font-size: 40px;
	font-family: Coolvetica;
	display: inline-block;
	width: 153px;
	height: 60px;
	flex-shrink: 0;
}

.index-child13 {
	position: absolute;
	top: 24.53px;
	left: 1321.11px;
	background-color: #00c257;
	width: 58.1px;
	height: 7.3px;
	flex-shrink: 0;
}

.index-child14 {
	position: absolute;
	top: 31.84px;
	left: 1321.11px;
	background-color: #ff0000;
	width: 67.1px;
	height: 7.3px;
	flex-shrink: 0;
}

.index-child15 {
	position: absolute;
	top: 39.16px;
	left: 1321.11px;
	background-color: #fff700;
	width: 76.2px;
	height: 7.3px;
	flex-shrink: 0;
}

.index-child16 {
	position: absolute;
	top: 46.48px;
	left: 1321.11px;
	background-color: #0053cf;
	width: 84.8px;
	height: 7.3px;
	flex-shrink: 0;
}

.image-removebg-preview-2-icon {
	position: absolute;
	top: 0px;
	left: 1223px;
	width: 111px;
	height: 74.9px;
	object-fit: cover;
	flex-shrink: 0;
}

.group-50-1 {
	position: absolute;
	top: 669px;
	left: 883px;
	width: 70px;
	height: 67px;
	object-fit: cover;
	flex-shrink: 0;
}

.oni2 {
	position: absolute;
	top: 1937px;
	left: 134px;
	font-size: 40px;
	font-family: Coolvetica;
	color: #ea0000;
	display: inline-block;
	width: 227px;
	height: 60px;
	flex-shrink: 0;
}

.sciente2 {
	position: absolute;
	top: 1937px;
	left: 258px;
	font-size: 40px;
	font-family: Coolvetica;
	display: inline-block;
	width: 153px;
	height: 60px;
	flex-shrink: 0;
}

@media screen and (max-width: 1024px) {

	body{
		overflow-x: hidden;
	}
	.index {
		width: 100%;
		height: auto;
	}
}