.tutorial1 {
  	width: 100%;
  	height: 1024px;
  	position: relative;
  	background-color: #f0f0f0;
  	overflow: hidden;
  	text-align: center;
  	font-size: 24px;
  	color: #000;
  	font-family: Coolvetica;
}
.tutorial1-child {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1440px;
  	height: 113px;
}
.tutorial1-item {
  	position: absolute;
  	top: 35px;
  	left: 289px;
  	background-color: #fff;
  	width: 190px;
  	height: 46px;
}
.sobre-o-site {
  	position: absolute;
  	top: 43px;
  	left: 330px;
  	font-weight: 500;
  	font-family: Inter;
  	display: inline-block;
  	width: 137px;
  	height: 29px;
}
.chevron-right-icon {
  	position: absolute;
  	top: 46px;
  	left: 296px;
  	width: 24px;
  	height: 24px;
}
.tutorial1-inner {
  	position: absolute;
  	top: 35px;
  	left: 43px;
  	background-color: #fff;
  	width: 246px;
  	height: 46px;
}
.traar-uma-rota {
  	position: absolute;
  	top: 42px;
  	left: 76px;
  	font-weight: 500;
  	font-family: Inter;
  	display: inline-block;
  	width: 203px;
  	height: 29px;
}
.vector-icon {
  	position: absolute;
  	height: 1.17%;
  	width: 0.42%;
  	top: 4.98%;
  	right: 95.42%;
  	bottom: 93.85%;
  	left: 4.17%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.rectangle-div {
  	position: absolute;
  	top: 219px;
  	left: 622px;
  	border-radius: 20px;
  	background-color: #223079;
  	width: 726px;
  	height: 491px;
}
.image-5-icon {
  	position: absolute;
  	top: 231px;
  	left: 106px;
  	border-radius: 20px;
  	width: 425px;
  	height: 661px;
  	object-fit: cover;
}
.passo-traar-sua {
  	position: absolute;
  	top: 279px;
  	left: 635px;
  	font-size: 50px;
  	color: #fff;
  	display: inline-block;
  	width: 697px;
}
.use-a-nossa {
  	position: absolute;
  	top: 374px;
  	left: 688px;
  	font-size: 32px;
  	color: #fff;
  	display: inline-block;
  	width: 601px;
  	height: 224px;
}
.tutorial1-child2 {
  	position: absolute;
  	top: 764px;
  	left: 709px;
  	box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  	border-radius: 20px;
  	background-color: #6375cf;
  	border: 3px solid #fff;
  	box-sizing: border-box;
  	width: 534px;
  	height: 128px;
}
.prximo-passo {
  	position: absolute;
  	top: 793px;
  	left: 737px;
  	font-size: 58px;
  	color: #fff;
  	display: inline-block;
  	width: 467px;
}
.voltar {
  	position: absolute;
  	top: 898px;
  	left: 920px;
  	font-size: 20px;
  	font-weight: 600;
  	font-family: Inter;
  	display: inline-block;
  	width: 102px;
  	height: 31px;
}
.line-div {
  	position: absolute;
  	top: 918.5px;
  	left: 934.5px;
  	border-top: 1px solid #000;
  	box-sizing: border-box;
  	width: 75px;
  	height: 1px;
}
.tutorial1-child3 {
  	position: absolute;
  	top: 24.53px;
  	left: 1321.11px;
  	background-color: #00c257;
  	width: 58.1px;
  	height: 7.3px;
}
.tutorial1-child4 {
  	position: absolute;
  	top: 31.84px;
  	left: 1321.11px;
  	background-color: #ff0000;
  	width: 67.1px;
  	height: 7.3px;
}
.tutorial1-child5 {
  	position: absolute;
  	top: 39.16px;
  	left: 1321.11px;
  	background-color: #fff700;
  	width: 76.2px;
  	height: 7.3px;
}
.tutorial1-child6 {
  	position: absolute;
  	top: 46.48px;
  	left: 1321.11px;
  	background-color: #0053cf;
  	width: 84.8px;
  	height: 7.3px;
}
.image-removebg-preview-1-icon {
  	position: absolute;
  	top: 0px;
  	left: 1223px;
  	width: 111px;
  	height: 74.9px;
  	object-fit: cover;
}
.oni {
  	position: absolute;
  	top: 54px;
  	left: 1140px;
  	font-size: 40px;
  	color: #ea0000;
  	display: inline-block;
  	width: 227px;
  	height: 60px;
}
.sciente {
  	position: absolute;
  	top: 54px;
  	left: 1264px;
  	font-size: 40px;
  	display: inline-block;
  	width: 153px;
  	height: 60px;
}

